*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
    /* background-image: url(./);
     */
}
#bg_img_0ne{
    background-color: rgba(73, 111, 112,0.7);
    padding: 10px 0px 50px 0px;

}
.container{
padding: 20px 0px 20px 0px;
display: flex;
flex-wrap: wrap;

justify-content: space-evenly;
box-sizing: border-box;
}
.one{
    border-radius: 8px;
 box-shadow: -4px 5px 12px;
    width: 400px;
    height: 280px;
    margin: 10px;

 
}

.two{
 border-radius: 8px;
 box-shadow: 4px 6px 12px;
    width: 400px;
    height: 280px;
    margin: 10px;
   
}
.pic:hover{
    border-radius: 13px;
    transition:all 0.3s ease-in;
    transform: scale(1.1);
}
#landing{
   padding:20px 0px 0px 20px ;
    width: 400px;
    box-shadow: 2px 3px 5px black;
    text-align: center;
    color: rgba(7, 3, 0,0.7);
    border-radius: 5px;
    padding: 5px;
    font-size: 25px;
    font-family: monospace;
    font-weight: bold;
    background-color: rgba(73, 111, 112,0.2);

}
#landing:hover{
    transition:all 0.2s ease-in;
    font-size: 25.6px;
    color: black;


}

/* DETAILS */

#bg_color{
    background-color: rgba(128, 128, 128, 0.2);
}
#need{
    padding-top: 20px 20px;
    text-align: center;
    font-family: cursive;
    font-size: 22px;
    background-color: rgba(128, 128, 128, 0.1);
}
#n{
    padding: 10px;
}
#need:hover{
font-size: 22.1px;
transition:all 0.2s ease-in;

}
#margin{
    margin-left: 20px;
    font-size: 20px;

}
p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
}

/* BUTTON */
.subscribe{
    padding: 5px 7px;
    margin-top: 5px;
    background-color: rgba(255, 0, 0,0.7);

    border-color: rgb(0, 0, 0),0.5;
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
    font-size: 15px;
    border-radius: 6px;
}

.subscribe:hover{
    color: black;
    transition: all 0.3s ease-in;
    border-radius: 8px;
    background-color: red;


}

.summit{
    padding: 2px 7px;
    font-family: cursive;
    font-size: 15px;
    background-color: white;
    border-radius: 3.5px;

    color: black;
}
#input{
    padding: 5px 25px;
    border-color: rgb(70, 70, 180);
    border-radius: 5px;
    font-size: 20px;
}

#input:hover{
    border-color:blue;
}
.summit:hover{
    color: red;
    background-color: white;
    transition:all 0.2s ease-in;
    font-size: 15.5px;
    border-color: red;
    border-radius: 4px;
}
li{
    list-style-type:circle;
    margin-left: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
strong{
    font-size: 20px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

 #let{
    font-size: 20px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
#let:hover{
    transition:all 0.2s ease-in;
    font-size:19.9px ;

}